<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisionCart"
        tools:targetApi="31">
        <activity
            android:name=".viewOfferAdmin"
            android:exported="false" />
        <activity
            android:name=".addofferpage"
            android:exported="false" />
        <activity
            android:name=".adminPanel"
            android:exported="false">

        </activity>
        <activity
            android:name=".volunteerLogin"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".offersPage"
            android:exported="false" />
        <activity
            android:name=".viewRequest"
            android:exported="false" />
        <activity
            android:name=".sendRequest"
            android:exported="false" />
        <activity
            android:name=".activities.helpDesk"
            android:exported="false" />
        <activity
            android:name=".activities.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
    </application>

</manifest>