<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />



    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-feature android:name="android.hardware.camera.flash"/>




    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="Vision Cart"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.activities.addProducts"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.activities.admin_product_view"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar"
            android:label="Product Details"/>

        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.blindRegister"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.blindLogin"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.completedRequest"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.acceptedRequest"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.activities.helpDesk"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.activities.HomePage"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.test"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.volunteerLogin"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.ClassifierActivity"
            android:exported="false" />
        <activity

            android:name="org.tensorflow.blindhelp.examples.classification.addofferpage"
            android:exported="false"
            android:label="Vision Cart"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.request"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.requestcard"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.viewRequest"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.addOffers"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.adminPanel"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.signUp"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.offers"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.sendRequest"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.VDashboard"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.CameraTest"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.MainActivity"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.Home"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.viewOfferAdmin"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.offersPage"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.volunteerregister"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.View_WishList_Page"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.Add_WishList"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.ShoppingList"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.activities.ShoppingList_page"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.activities.Camera"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.LoginActivity"
            android:exported="false" />
        <activity
            android:name="org.tensorflow.blindhelp.examples.classification.activities.CaptureActions"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.tensorflow.blindhelp.examples.classification.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>




    </application>

</manifest>